 <div class="container container-insert">
    <%= form_for :qparam , as: :post, url: musicteachersave_path,:html => {:class => ''} do |f| %>
         <div class="row notice notice-lg">
           <div class="active-border">
                   <div class="circle">
                        <span class="prec-box"><span class="prec"><%= format('%.2f',@formpercent)%></span>%</span>
                   </div>
           </div>
           <div class="col text-header">
               <div class="form-group">
                   <h1><%= t('val.form1head')%></h1>
                   <h5><%= t('val.form1pleasinsert')%><span>    </span><%= f.text_field :countteachers,:value => session["formparam"]["countteachers"] ,size: 2%>
                       <span>    </span><a href="javascript:;" class="addteachercount btn btn-warning">ตกลง</a></h5>
               </div>
               <hr class="my-3">
               <div class="row">
                   <div class="col">
                       <%= link_to t('val.banktodashboard'), dashboard_path, method: :get ,class: "btn btn-primary"%>
                   </div>
                   <div class="col text-right">
                       <%= f.submit 'Save' ,class: "btn btn-success from-save-fix" %>
                   </div>
               </div>
           </div>
        </div>
        <% if flash[:question_errors] %>
                <% flash[:question_errors].each do |error| %>
                  <div class="alert alert-info " role="alert"><%=error%></div>
                <%end%>
        <%end%>
         <div class="dbTeacherSet row justify-content-md-center">
                 <% @teacers.each_with_index do |t,index| %>
                     <%= render partial: "newteacher" , locals: {count: (index+1),f: f,data: session["formparam"],id: t.id,style: "success",viewonly: false} %>
                 <% end %>
        </div>
        <div class="musicOtherSet row justify-content-md-center">
                 <% @diff.each_with_index do |d,index| %>
                       <%= render partial: "newteacher" , locals: {count: 0,f: f,data: {},id: nil,style: "info",viewonly: false} %>
                 <% end %>
         </div>
         <div class="new_music_form" style="display:none;">
                    <%= render partial: "newteacher" , locals: {count: 0 ,f: f,data: {},id: nil,style: "info",viewonly: false} %>
          </div>
    <% end %>
</div>