 <div class="container admin">
    <div class="row notice">
          <div class="col">
              <h1>Admin’s DASHBOARD</h1>
          </div>
         <div class="col text-right">
               <%= link_to t('val.signout'), destroy_user_session_path, method: "delete" ,class: "btn btn-danger"%>
         </div>
    </div> 
     <% if notice %>
               <p class="notice-alert notice"><%= notice %></p>
              <% end %>
              <% if alert %>
               <p class="notice-alert alert"><%= alert %></p>
              <% end %>
    <div class="row pt-2">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row">
                   <%= image_tag("iconschool.png",class: "col img-icon") %>     
                   <div class="col">
                       <p><strong><%= t('val.admins.readyregister') %></strong></p>
                       <h1 class="text-danger"><%= number_with_delimiter(@school_registed_count, :delimiter => ',')%>  <%= t('val.admins.school') %></h1>
                   </div>
             </div>
             <div class="row">
                   <%= image_tag("user.png",class: "col img-icon") %>     
                   <div class="col">
                       <p><strong><%= t('val.admins.userregis') %></strong></p>
                       <h1 class="text-danger"><%= number_with_delimiter(@user_count, :delimiter => ',')%>  <%= t('val.admins.people') %></h1>
                   </div>
             </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row">
                <div class="col text-center">
                     <div class="active-border">
                          <div class="circle">
                               <span class="prec-box"><span class="prec"><%= format('%.2f',@school_registed_percent)%></span><span>%</span></span>
                           </div>
                     </div>
                     <p><%= t('val.admins.readyregister')%></p>
                </div>
                <div class="col text-center">
                     <div class="active-border">
                          <div class="circle">
                               <span class="prec-box"><span class="prec"><%= format('%.2f',@formall_success_percent)%></span><span>%</span></span>
                           </div>
                     </div>
                     <p><%= t('val.admins.insertsucess')%></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="row">
                 <div class="col-12 col-sm-6 text-center">
                     <div class="active-border active-border-sm">
                          <div class="circle">
                               <span class="prec-box"><span class="prec"><%= format('%.2f',@form1_success_percent)%></span><span>%</span></span>
                           </div>
                     </div>
                     <p><%= t('val.admins.form1head')%></p>
                 </div>
                 <div class="col-12 col-sm-6 text-center">
                     <div class="active-border active-border-sm">
                          <div class="circle">
                               <span class="prec-box"><span class="prec"><%= format('%.2f',@form2_success_percent)%></span><span>%</span></span>
                           </div>
                     </div>
                     <p><%= t('val.admins.form2head')%></p>
                 </div>
                 <div class="col-12 col-sm-6 text-center">
                     <div class="active-border active-border-sm">
                          <div class="circle">
                               <span class="prec-box"><span class="prec"><%= format('%.2f',@form3_success_percent)%></span><span>%</span></span>
                           </div>
                     </div>
                     <p><%= t('val.admins.form3head')%></p>
                 </div>
                 <div class="col-12 col-sm-6 text-center">
                     <div class="active-border active-border-sm">
                          <div class="circle">
                               <span class="prec-box"><span class="prec"><%= format('%.2f',@form4_success_percent)%></span><span>%</span></span>
                           </div>
                     </div>
                     <p><%= t('val.admins.form4head')%></p>
                 </div>
            </div>
        </div>
    </div>
     <hr class="my-4">
    <div class="row">
        <div class="form-group col-12">
            <%= link_to exportschool_path(format: 'xlsx') ,class: "btn btn-primary" do %>
                <%=fa_icon "file-alt"%> Export Excel
            <% end %>
        </div>
        <div class="col">
            <table id="schools-table", data-source="<%= schools_path(format: :json) %>">
              <thead>
                <tr>
                  <th><%= t('val.schools.school_code') %></th>
                  <th><%= t('val.schools.school_name') %></th>
                  <th><%= t('val.schools.percent_all') %></th>
                  <th><%= t('val.schools.percent_1') %></th>
                  <th><%= t('val.schools.percent_2') %></th>
                  <th><%= t('val.schools.percent_3') %></th>
                  <th><%= t('val.schools.percent_4') %></th>
                  <th><%= t('val.schools.userinscool') %></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                      </div>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</div>