<h1 class="big-header text-info"><%= t('val.headchangepassword') %></h1>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="card border-0 col-md-7">
      <div class="card-body">
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
      
        <div class="form-inputs">
          <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
        </div>
      
        <div class="form-actions row">
          <div class="col">
             <%= link_to t('val.banktodashboard'), dashboard_path, method: :get ,class: "btn btn-danger btn-lg fox-shadow--8dp"%> 
          </div>  
          <div class="col">
            <%= f.button :submit, t('val.changepassowrd') , class:  "btn btn-success  btn-lg form-control  box-shadow--8dp" %>
          </div>
        </div>
      </div>
  </div>    
<% end %>