<!DOCTYPE html>
<html>
<head>
  <title>MERM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="pt-4 pb-4 pl-1 pr-1">
   <div class="spinner" style="display:none;">
       <div class="loader-wrapper">
        <div class="loader"></div>
     
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
     
    </div>
   </div>
    <% if @master_case == 99 %>
        <%= yield %>
    <% else %>
        <div class="container">
            <header class="paragraphs form-group">
                <div class="row form-group">
                    <div class="col" style="max-width:100px"><%= image_tag("logo.png",style: "height:120px") %></div>
                    <div class="col"><h2 class="text-primary"><%= t('val.headertext') %></h2></div>
                </div>
            </header>
            <% if notice %>
               <p class="notice-alert notice"><%= notice %></p>
              <% end %>
              <% if alert %>
               <p class="notice-alert alert p-1 mb-1"><%= alert %></p>
              <% end %>
            <div class="contents">
               <%= yield %>
            </div>
            <footer class="text-right">
                <%= image_tag("logo-branch.png",style: "height:90px") %>
            </footer>
        </div> 
    <% end %>    
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i> Back to top</a>
</body>
</html>
